<h3>Sélection d'un compartiment</h3>
<div>Sélectionnez le compartiment dont vous voulez vérifier le contenu.</div></br>

<div class="btn-group-toggle" data-toggle="buttons" id="radio_compartment">
    {% for compartment in compartments %}
    <label class="btn btn-light-blue custom_btn form-check-label">
      <input class="form-check-input compartment" type="radio" name="options" id="option{{ compartment.id }}" autocomplete="off" value="{{ compartment.id }}"> {{ compartment }}
    </label>
    </br>
    {% endfor %}
</div>

<div id="compartment_check" style="visibility: hidden; height: 0px;"></div>


<script>
    $("#radio_compartment").change(function () {
        console.log($('input[name="options"]:checked').val());
        var compartment = $('input[name="options"]:checked').val();
        $("#compartment_check").html(compartment);
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_stock' %}",
            data: {
                'compartment': compartment,
            },
            success: function (data) {
                $("#storage").html("");
                $("#storage_div").hide();
                $("#product_list").html("");
                $("#stock_list").html(data);
                $('html, body').animate({
                        scrollTop: $("#stock_list").offset().top
                }, 500);
            }
        });
    });
</script>