{% extends "webapp/base.html" %}
{% block title %}Tableau de bord{% endblock %}
{% block content %}
{% load static %}
<!-- CSS-->
<link href="{% static 'webapp/css/manage_stocks.css' %}" rel="stylesheet" />
<div>
    <div id="column-1" class="col-md-4" style="float: left; background-color: purple;">
        <div id="device_list"></div>
    </div>
    <div id="column-2" class="col-md-4" style="float: left; background-color: purple;">
        <div id="compartment_list"></div>
    </div>
    <div id="column-3" class="col-md-4" style="float: left; background-color: purple;">
        <div id="stock_list"></div>
        <div id="product_list"></div>
        <div id="storage_div">
            <div id=storage></div>
            <div id="datepicker_div" style="display: none;">
                <input id="datepicker">
                <script>
                    $(function () {
                        $("#datepicker").datepicker({
                        format:'dd/mm/yyyy',
                        });
                    });
                </script>
                </br>
                <button id="store_product">
                    Ajouter le produit
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).on('load', function() {
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_device' %}",
            data: {
            'checker': "none",
            },
            success: function (data) {
                $("#device_list").html(data);
            }
        });
    });
</script>

{% endblock %}