<h3>Contenu de {{ compartment.compartment_name }}</h3>
<button class="btn btn-indigo custom_btn" id="store_product">Ajouter un produit</button>
{% if stocks %}
{% for stock in stocks %}
<div id="stock{{ stock.id }}" class="stock_div_overflow">
    <hr style="text-align:left;margin-left:0">
    <div>
        <div style="float: left;">
            <div>{{ stock.stock_product.product_name }}</div>
            <div>Ajouté le {{ stock.stock_diary.diary_add }}</div>
            <div>Date de rappel : {{ stock.stock_notification.notification_date }}</div>
        </div>
        <div style="float: right;">
            <div style="display: inline-block;">Quantité : </div>
            <div style="display: inline-block;" id="quantity{{ stock.id }}" value="{{ stock.stock_number }}">{{ stock.stock_number }}</div></br>
            <button id="remove{{ stock.id }}" value="{{ stock.id }}" class="btn btn-danger btn-sm">-</button>
        </div>
    </div>
    </br>
    <script>
        $("#remove{{ stock.id }}").click(function () {
            var stockId = $(this).val();
            var stockQuantity = $("#quantity{{ stock.id }}").html();
            if (parseInt($("#quantity{{ stock.id }}").html()) <= 0) {
                return false;
            }
            $.ajax({
                type: 'GET',
                url: "{% url 'ajax_remove_stock' %}",
                data: {
                    'stock': stockId,
                },
                success: function (data) {
                    $("#quantity{{ stock.id }}").html(parseInt(stockQuantity)-1);
                    if (parseInt($("#quantity{{ stock.id }}").html()) <= 0) {
                        $("#stock{{ stock.id }}").remove();
                    }
                }
            });
        });
    </script>
</div>
{% endfor %}
{% else %}
</br>
<div>Ce compartiment est vide !</div>
{% endif %}
<script>
    $("#store_product").click(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_product' %}",
            success: function (data) {
                $("#stock_list").html("");
                $("#product_list").html(data);
                $('html, body').animate({
                        scrollTop: $("#product_list").offset().top
                }, 500);
            }
        });
    });
</script>

