<h3>Ajout d'un produit</h3></br>
<div>Vous voulez ajouter {{ product }} à votre stock !</div></br>
<div>Quantité : <div id="product_quantity">1</div></div></br>
<button id=add_product_button>+</button>
<button id=remove_product_button>-</button>
</br>
{% if checker == "nodate" %}
<div>Nous n'avons pas d'information concernant la durabilité de ce produit !</div>
<div>Par défaut, nous réglerons la date de rappel sur 3 mois, vous pouvez la modifier.</div>
{% else %}
<div>Nous recommandons la date de rappel suivante :</div>
<div>(vous pouvez la modifier)</div>
{% endif %}
<script>
    $("#add_product_button").click(function () {
        var productNb = document.getElementById("product_quantity").innerHTML;
        var intProductNb = parseInt(productNb);
        intProductNb += 1;
        document.getElementById("product_quantity").innerHTML = intProductNb;
    });

    $("#remove_product_button").click(function () {
        var productNb = document.getElementById("product_quantity").innerHTML;
        var intProductNb = parseInt(productNb);
        if (intProductNb == 1) {
            alert("La quantité ne peut pas être égale à 0");
            return false;
        };
        intProductNb -= 1;
        document.getElementById("product_quantity").innerHTML = intProductNb;
    });

    $("#product_quantity").ready(function() {
        $("#datepicker").datepicker('setDate', '{{ duration }}');
    });

    $("#store_product").click(function (event) {
        event.preventDefault();
        var compartment = $("#compartment_check").html();
        var durationDate = $("#datepicker").datepicker('getDate', true);
        var productNb = document.getElementById("product_quantity").innerHTML
        console.log("{{ product }}")
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_stocked' %}",
            data: {
                'date': durationDate,
                'product': "{{ product.id }}",
                'compartment': compartment,
                'product_quantity': productNb,
            },
            success: function (data) {
                $("#storage").html("");
                $("#datepicker_div").hide();
                $.ajax({
                    type: 'GET',
                    url: "{% url 'ajax_stock' %}",
                    data: {
                        'compartment': compartment,
                    },
                    success: function (data) {
                        $("#product_list").html("");
                        $("#stock_list").html(data);
                    }
                });
            }
        });
    });
</script>