<h3>Ajout d'un produit</h3>
<div>Vous vous apprêtez à ajouter le produit "{{ product }}" à ce compartiment.</div></br>
<div>Déterminez la quantité :</div>
<div style="display: inline-block;">Quantité : </div><div id="product_quantity" style="display: inline-block;">1</div>
</br>
<button id=add_product_button class="btn btn-light-green btn-sm">+</button>
<button id=remove_product_button class="btn btn-danger btn-sm">-</button>
</br>
</br>
{% if checker == "nodate" %}
<div>Nous n'avons pas d'information concernant la durabilité de ce produit.</div>
<div>Par défaut, nous réglerons la date de rappel sur 3 mois, vous pouvez la modifier.</div>
{% else %}
<div>Nous vous recommandons une date de rappel basé sur la sous-catégorie du produit.</div>
<div>Vous pouvez la modifier.</div></br>
{% endif %}
<script>
    $("#add_product_button").click(function () {
        var productNb = document.getElementById("product_quantity").innerHTML;
        var intProductNb = parseInt(productNb);
        intProductNb += 1;
        document.getElementById("product_quantity").innerHTML = intProductNb;
    });

    $("#remove_product_button").click(function () {
        var productNb = document.getElementById("product_quantity").innerHTML;
        var intProductNb = parseInt(productNb);
        if (intProductNb == 1) {
            alert("La quantité ne peut pas être égale à 0");
            return false;
        };
        intProductNb -= 1;
        document.getElementById("product_quantity").innerHTML = intProductNb;
    });

    $("#product_quantity").ready(function() {
        $("#datepicker").datepicker('setDate', '{{ duration }}');
    });

    $("#store_product").one("click", function (event) {
        event.preventDefault();
        var compartment = $("#compartment_check").html();
        var durationDate = $("#datepicker").datepicker('getDate', true);
        var productNb = document.getElementById("product_quantity").innerHTML
        console.log("{{ product }}")
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_stocked' %}",
            data: {
                'date': durationDate,
                'product': "{{ product.id }}",
                'compartment': compartment,
                'product_quantity': productNb,
            },
            success: function (data) {
                $("#storage").html("");
                $("#datepicker_div").hide();
                $.ajax({
                    type: 'GET',
                    url: "{% url 'ajax_stock' %}",
                    data: {
                        'compartment': compartment,
                    },
                    success: function (data) {
                        $("#product_list").html("");
                        $("#storage_div").hide();
                        $("#stock_list").html(data);
                        $('html, body').animate({
                                scrollTop: $("#stock_list").offset().top
                        }, 500);
                    }
                });
            }
        });
    });
</script>