<h3>Sélection d'un produit</h3>
<div>Sélectionnez un produit à ajouter dans le compartiment.</div><br>
<a href="{% url 'manage_products' %}">Vous pouvez créer un produit ici !</a></br></br>
{% for product in products %}
<button type="submit" class="product btn btn-light-blue custom_btn" value="{{ product.id }}">{{ product }}</button></br>
{% endfor %}

<script>
    $(".product").click(function () {
        var product = $(this).val();
        var compartment = document.getElementById("compartment_check").innerHTML;
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_storage' %}",
            data: {
                'product': product,
                'compartment': compartment
            },
            success: function (data) {
                $("#product_list").html("");
                $("#storage").html(data);
                $("#storage_div").show();
                $('html, body').animate({
                        scrollTop: $("#storage").offset().top
                }, 500);
            }
        });
    });

</script>