<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="MyColdDevice" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'webapp/img/favicon.png' %}" />
    <!-- CSS-->
    <link href="{% static 'webapp/css/base.css' %}" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- header -->
    <header>
        <a href="{% url 'index' %}"><h1>Bienvenue sur MyColdManager.com !</h1></a></br>
        {% if user.is_authenticated %}
        Bonjour {{ user }}
        <a href="{% url 'device' %}">Mes appareils</a>
        <a href="{% url 'logout' %}">Me déconnecter</a>
        <a href="{% url 'product' %}">Les produits</a>
        {% else %}
        <a href="{% url 'signup' %}">Créer un compte</a>
        <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}
    </header>


    {% block content %}
    {% endblock %}

    <!-- Footer-->
    <footer>
        A remplir
    </footer>
</body>

</html>