<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MyColdManager">
    <meta name="author" content="Awood">
    <title>MyColdManager.com</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'webapp/img/favicon.png' %}" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- CSS-->
    <link href="{% static 'webapp/css/base.css' %}" rel="stylesheet" />
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
    <header>
        <div class="col-md-12">
            <a href="{% url 'index' %}"><h3>Bienvenue sur MyColdManager.com !</h3></a>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-6">
            Bonjour {{ user }} !
        </div>
        <div id="action_list" class="col-md-6">
            <a href="{% url 'manage_devices' %}">Gérer mes appareil</a>
            <a href="{% url 'manage_products' %}">Gérer mes produit</a>
            <a href="{% url 'manage_stocks' %}">Gérer mon stock</a>
            <a href="{% url 'logout' %}">Me déconnecter</a>
        </div>
        {% else %}
        <div class="col-md-6">
            <a href="{% url 'signup' %}">Créer un compte</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'login' %}">Se connecter</a>
        </div>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer-->
    <footer>
        A remplir
    </footer>
</body>

</html>
