{% for compartment in compartments %}
<input type="radio" name="compartment" value="{{ compartment.id }}" class="compartment"/>
<label for="{{ compartment }}">{{ compartment }}</label></br>
{% endfor %}
<div id="compartment_check" style="visibility: hidden; height: 0px;"></div>


<script>
$(".compartment").click(function () {
    var compartment = $(this).val();
    $("#compartment_check").html(compartment);
    $.ajax({
        type: 'GET',
        url: "{% url 'ajax_stock' %}",
        data: {
            'compartment': compartment,
        },
        success: function (data) {
            $("#stock").html(data);
        }
    });
    $.ajax({
        type: 'GET',
        url: "{% url 'ajax_product' %}",
        success: function (data) {
            $("#product_list").html(data);
        }
    });
});
</script>