{% for compartment in compartments %}
<button type="submit" class="compartment" value="{{ compartment }}">{{ compartment }}</button></br>
{% endfor %}

<!-- <script>
    $(".compartment").click(function () {
    document.getElementById("product_list").innerHTML = "";
    document.getElementById("product_creation").innerHTML = "";
    var subcategory = $(this).val();
    $.ajax({
        type: 'GET',
        url: "{% url 'ajax_product' %}",
        data: {
            'subcategory': subcategory,
        },
        success: function (data) {
            $("#product_list").html(data);
        }
    });
});
</script> -->