{% if checker == "device" %}
<div>Selectionnez un appareil pour le modifier</div>
{% endif %}
{% for device in user_devices %}
<button type="submit" class="device" value="{{ device.id }}">{{ device }}</button></br>
{% endfor %}
{% if checker == "device" %}
<div>ou</div>
<button id="create_device">Créer un appareil</button>
{% endif %}

<script>
    $(".device").click(function () {
        var device = $(this).val();
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_compartment' %}",
            data: {
                'device': device,
            },
            success: function (data) {
                $("#master_div_device div").html("");
                $("#compartment_list").html(data);
                $("#stock").html("Selectionnez un compartiment");
            }
        });
    });

    $("#create_device").click(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_device_creation' %}",
            success: function (data) {
                $("#master_div_device div").html("");
                $("#device_creation").html(data);
                $("#stock").html("");
            }
        });
    });
</script>