{% extends "webapp/base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
{% load static %}
<!-- CSS-->
<link href="{% static 'webapp/css/index.css' %}" rel="stylesheet" />

<div class="index">

    <div class="block">
        <h3>BETA</h3>
        <h4>Comment ça marche ?</h4>
        <div>Bienvenue sur MyColdManager.com ! Cette application vous permet de gérer vos congélateurs et leurs contenus !</div></br>
        <div>Vous devrez tout d'abord ajouter un (ou plusieurs) appareil en cliquant sur l'onglet "Gérer mes appareils".</div></br>
        <div>Ensuite, via l'onglet "Gérer mes produits", vous pourrez créer les produits que vous comptez ranger dans l'appareil.</div>
        <div>De cette façon, les produits que vous avez déjà créé seront à l'avenir plus simple à ajouter</div></br>
        <div>Enfin, cliquez sur l'onglet "Gérer mon stock", sélectionnez un appareil, un compartiment, et son contenu (le cas échéant) vous sera affiché !</div>
        <div>C'est également à partir de cette page que vous pourrez décider quel produit ranger dans quel compartiment</div></br>
        <div>Fini d'oublier ce que votre congélateur contient ! De plus l'application vous enverra un email quand la date de conservation conseillée approchera de son terme.</div>
    </div>

    <div class="block">
        <h3>Actualités</h3>
        {% for new in news %}
        <div id="news{{new.id}}">
            <hr style="text-align:left;margin-left:0">
            <h4>{{ new.news_title }}</h4></br>
            <div>Le {{ new.news_date }} par {{ new.news_author }}</div></br>
            <div>{{ new.news_content|linebreaks }}</div></br>
            {% if request.user.is_staff %}
            <button value="{{ new.id }}" class="delete_news btn btn-danger btn-sm">delete news</button>
            {% endif %}
            <script>
                $(".delete_news").click(function () {
                    var newId = $(this).val();
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'ajax_destroy_news' %}",
                        data: {
                            'news': newId,
                        },
                        success: function (data) {
                            $("#news"+newId).remove();
                        }
                    });
                });
            </script>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}

