{% extends "webapp/base.html" %}
{% block title %}Tableau de bord{% endblock %}
{% block content %}
{% load static %}
<!-- CSS-->
<link href="{% static 'webapp/css/product.css' %}" rel="stylesheet" />
<div class="background">
    <div class="col-md-4" style="float: left;">
        <div id="product_type">
            Choisissez un type de produit:
            <button id="raw_product">brut</button>
            <button id="industrial_product">industriel</button>
        </div>
        <div id="category_list">
            {% for category in categories %}
            <button type="submit" class="category" value="{{ category.id }}">{{ category }}</button></br>
            {% endfor %}
        </div>
        <div id="subcategory_list"></div>
        <div id="product_list"></div>
    </div>
    <div class="col-md-4" style="float: left;">
        <div id="product_creation"></div>
        <div id="add_to_stock"></div>
        <div id="stock"></div>
    </div>
    <div class="col-md-4" style="float: left;">
        <div id="device_list">
            {% for device in user_devices %}
            <button type="submit" class="device" value="{{ device.id }}">{{ device }}</button></br>
            {% endfor %}
        </div>
        <div id="compartment_list"></div>

    </div>

</div>

<script>

$(".category").click(function () {
    document.getElementById("subcategory_list").innerHTML = "";
    document.getElementById("product_list").innerHTML = "";
    document.getElementById("product_creation").innerHTML = "";
    var category = $(this).val();
    $.ajax({
        type: 'GET',
        url: "{% url 'ajax_subcategory' %}",
        data: {
            'category': category,
        },
        success: function (data) {
            $("#subcategory_list").html(data);
            $("#category_list").css('z-index', 1);
            $("#subcategory_list").css('z-index', 2);
            $("#subcategory_list").animate({top:"10em",opacity:"1"},500);
        }
    });
});

$(".device").click(function () {
    document.getElementById("compartment_list").innerHTML = "";
    document.getElementById("stock").innerHTML = "";
    var device = $(this).val();
    $.ajax({
        type: 'GET',
        url: "{% url 'ajax_device' %}",
        data: {
            'device': device,
        },
        success: function (data) {
            $("#compartment_list").html(data);
            $("#device_list").css('z-index', 1);
            $("#compartment_list").css('z-index', 2);
            $("#compartment_list").animate({top:"10em",opacity:"1"},500);
        }
    });
});

</script>
{% endblock %}