Choisissez un type de produit:
<button id="raw_product">brut</button>
<button id="industrial_product">industriel</button>

<script>
    $("#raw_product").click(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_category' %}",
        success: function (data) {
            $("#master_div_product div").html("");
            $("#category_list").html(data);
            $("#stock").html("Selectionnez une catégorie");
        }
        });
    });
    
    $("#industrial_product").click(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_ind_product' %}",
        success: function (data) {
            $("#master_div_product div").html("");
            $("#category_list").html(data);
            $("#stock").html("Selectionnez votre produit dans la liste");
        }
        });
    });

</script>