<button id="close_creation">X</button>
<h3>Création d'un produit</h3>
{% if checker == "raw" %}
<div>La durée de conservation recommandé pour la sous-catégorie {{ subcategory }} et de {{ subcategory.subcategory_peremption }} jours.</div>
{% endif %}
{% if checker == "industrial" %}
<div>La durée de conservation de ce produit nous est inconnue.</div>
{% endif %}
<form id="create_product">
    Nommez votre produit :
    <input type="text" name="product_name" id="product_name" placeholder="{{ subcategory }}"/>
    <button type="submit" name="submit_product" id="submit_product">
        Créer le produit
    </button>
</form>
<script>
    $("#submit_product").click(function (event) {
        event.preventDefault();
        var productName = $("#product_name").val();
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_create_product' %}",
            data: {
                'checker': "{{ checker }}",
                'subcategory': "{{ subcategory }}",
                'product_name': productName,
            },
            success: function (data) {
                $("#product_creation").html("");
            }
        });
    });

    $("#close_creation").click(function () {
        $("#master_div_product div").html("");
        $("#master_div_stock div").html("");
    });
</script>