{% for subcategory in subcategories %}
<button type="submit" class="subcategory" value="{{ subcategory.id }}">{{ subcategory }}</button></br>
{% endfor %}

<script>
    $(".subcategory").click(function () {
        var subcategory = $(this).val();
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_product_creation' %}",
            data: {
                'subcategory': subcategory,
            },
            success: function (data) {
                $("#product_creation").html(data);
            }
        });
    });

</script>