{% for product in products %}
<button type="submit" class="product" value="{{ product.id }}">{{ product }}</button></br>
{% endfor %}
<button type="submit" id="creation_button">Créer un produit</button>
<button id="close_product">Refermer</button>

<script>
    $("#creation_button").click(function () {
        document.getElementById("product_creation").innerHTML = "";
        var subcategory = "{{ subcategory.id }}";
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_product_creation' %}",
            data: {
                'subcategory': subcategory,
            },
            success: function (data) {
                $("#product_creation").html(data);
            }
        });
    });

    $(".product").click(function () {
        var product = $(this).val();
        var subcategory = "{{ subcategory.id }}";
        if ($('#compartment_check').length == 0 ){
            alert("Sélectionnez un compartiment pour ajouter un produit");
            return false;
        }
        var compartment = document.getElementById("compartment_check").innerHTML;
        if (compartment == ""){
            alert("Sélectionnez un compartiment pour ajouter un produit");
            return false;
        };
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_add_to_stock' %}",
            data: {
                'product': product,
                'subcategory': subcategory,
                'compartment': compartment
            },
            success: function (data) {
                $("#add_to_stock").html(data);
            }
        });
    });

    $("#close_product").click(function () {
        $("#product_list").animate({top:"0em",opacity:"0"},500, function() {
            $("#subcategory_list").css('z-index', 2);
            $("#product_list").css('z-index', 1);
            $("#product_list").html("");
        });
    });
</script>