<a href="{% url 'manage_products' %}">Vous pouvez créer un produit ici !</a>
{% for product in products %}
<button type="submit" class="product" value="{{ product.id }}">{{ product }}</button></br>
{% endfor %}

<script>
    $(".product").click(function () {
        var product = $(this).val();
        var compartment = document.getElementById("compartment_check").innerHTML;
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_storage' %}",
            data: {
                'product': product,
                'compartment': compartment
            },
            success: function (data) {
                $("#product_list").html("");
                $("#storage").html(data);
                $("#datepicker_div").show();
            }
        });
    });

</script>