body, header, footer
{ 
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#mainNav
{
    background-color: steelblue;
}

header, footer
{
    z-index: 1;
}

header
{
    height: 8em;
    position: fixed;
    top: 0;
}

footer
{
    background-color: steelblue;
    height: 4em;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#column-1, #column-2, #column-3
{
    float: left;
    z-index: 0;
}

@media (max-width: 1023px) {

    #column-1
    {
        margin-top: 9em;
    }
    
    #column-2
    {
        margin-top: 1em;
    }

    #column-3
    {
        margin-top: 1em;
        margin-bottom: 5em;
    }
  }

@media (min-width: 1024px) {

    #column-1, #column-2, #column-3
    {
        margin-top: 9em;
        margin-bottom: 5em;
    }
  }

body
{
    background:cornflowerblue;
    background-image: url(../img/background2.jpg);
}

.custom_btn
{
    width: 17em;
}

.custom_small_btn
{
    width: 1em;
    height: 1em;
}