.leftside, .rightside
{
    width: 50%;
    height: 40em;
    margin-bottom: 4em;
    margin-top: 10em;
}

.leftside
{ 
    background-color: cornflowerblue;
    float: left;
}

.rightside
{ 
    background-color: cadetblue;
    float: left;
}

.compartment
{
    width: 5em;
    height: 3em;
    background-color: cornsilk;
}