.background
{
    height: 40em;
    margin-bottom: 4em;
    margin-top: 10em;
    background-color: cornflowerblue;

}

#product_type
{
    background-color: turquoise;
}

#category_list
{
    background-color: darkgray;
}

#subcategory_list
{
    background-color: darkkhaki;
}

#product_list
{
    background-color: darksalmon;
}

#product_creation
{
    background-color: darkslateblue;
}

#add_to_stock
{
    background-color: teal;
}

#stock
{
    background-color: wheat;
}

#compartment_list
{
    background-color: darkslategrey;
}

#device_list
{
    background-color: dimgrey;
}