#device_list, #device_creation
{
    border-radius: 2em;
    padding: 2em;
    text-align: center;
}

#device_list
{
    background-color: rgb(101, 188, 255);
}

#device_creation
{
    background-color: rgb(84, 165, 226);
}

#device_list:empty, #device_creation:empty
{
    display: none;
}