#product_type, #category_list, #subcategory_list, #industrial_list, #product_creation
{
    border-radius: 2em;
    padding: 2em;
    text-align: center;
}

#product_type
{
    background-color: rgb(101, 188, 255);
}

#category_list, #subcategory_list, #industrial_list
{
    background-color: rgb(84, 165, 226);
}

#product_creation
{
    background-color: rgb(61, 134, 190);
}

#product_type:empty, #category_list:empty, #subcategory_list:empty, #industrial_list:empty, #product_creation:empty
{
    display: none;
}