#device_list, #compartment_list, #stock_list, #product_list, #storage_div
{
    border-radius: 2em;
    padding: 2em;
    text-align: center;
}

#device_list
{
    background-color: rgb(101, 188, 255);
}

#compartment_list
{
    background-color: rgb(84, 165, 226);
}

#stock_list, #product_list, #storage_div
{
    background-color: rgb(61, 134, 190);
}

#device_list:empty, #compartment_list:empty, #stock_list:empty, #product_list:empty, #storage_div
{
    display: none;
}

.stock_div_overflow
{
     overflow: hidden;
}