.background
{
    height: 40em;
    width: 100%;
    margin-bottom: 4em;
    margin-top: 10em;
    background-color: cornflowerblue;

}

#product_type
{
    background-color: turquoise;
    z-index: 2;
}

#category_list
{
    background-color: darkgray;
    z-index: 1;
}

#subcategory_list
{
    background-color: darkkhaki;
    position: fixed;
    top: 0;
}

#product_list
{
    background-color: darksalmon;
    position: fixed;
    top: 0;
}

#product_creation
{
    background-color: darkslateblue;
}

#add_to_stock
{
    background-color: teal;
}

#stock
{
    background-color: wheat;
}

#compartment_list
{
    background-color: darkslategrey;
    position: fixed;
    top: 0;
}

#device_list
{
    background-color: dimgrey;
}