.background
{
    height: 40em;
    width: 100%;
    margin-bottom: 4em;
    margin-top: 10em;
    background-color: cornflowerblue;

}
#category_list
{
    background-color: darkgray;
    width: 10%;
    float: left;
}

#subcategory_list
{
    background-color: darkkhaki;
    width: 10%;
    float: left;
}

#product_list
{
    background-color: darksalmon;
    width: 10%;
    float: left;
}

#product_creation
{
    background-color: darkslateblue;
    width: 20%;
    float: left;
}

#compartment_list
{
    background-color: darkslategrey;
    width: 10%;
    float: right;
    margin-right: 10%;
}


#device_list
{
    background-color: dimgrey;
    width: 10%;
    float: right;
    position: fixed;
    right: 0;
}