{% extends "webapp/base.html" %}
{% block title %}Tableau de bord{% endblock %}
{% block content %}
{% load static %}
<!-- CSS-->
<link href="{% static 'webapp/css/manage_devices.css' %}" rel="stylesheet" />
<div>
    <div id="column-1" class="col-md-4" style="float: left; background-color: purple;">
        <div id="device_list"></div>
    </div>
    <div id="column-2" class="col-md-4" style="float: left; background-color: purple;">
        <div id="device_creation"></div>
    </div>
    <div id="column-3" class="col-md-4" style="float: left; background-color: purple;">
    </div>
</div>
<script>
    $(window).on('load', function() {
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_device' %}",
            data: {
            'checker': "device",
            },
            success: function (data) {
                $("#device_list").html(data);
            }
        });
    });
</script>
{% endblock %}