{% load static %}
<form action="/search" method="get" title="Entrez le nom d'un produit">
    {% csrf_token %}
    {{ prodform.as_p }}

    <input type="submit" value="Rechercher" />
</form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

{{ prodform.media }}

<script>
    window.onload = function() {
        $('#add-form').click(function() {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val();
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone();
            newTable.find(':input').each(function() {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    );
            });
            newTable.insertBefore($(this));
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            );
            newTable.slideDown();
        });
    };
</script>

<button id="test_button" value="{{ test_button }}">{{ test_button }}</button>

<script>
    $("#test_button").click(function () {
        var subcategory = $(this).val();
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_product_creation' %}",
            data: {
                'subcategory': subcategory,
                'checker': "industrial",
            },
            success: function (data) {
                $("#master_div_product div").html("");
                $("#product_creation").html(data);
            }
        });
    });

</script>