<h3>Création d'un produit</h3>
{% if checker == "raw" %}
<div>La durée de conservation recommandée pour un produit de la sous-catégorie "{{ subcategory }}" et de {{ subcategory.subcategory_peremption }} jours.</div></br>
{% endif %}
{% if checker == "industrial" %}
<div>La durée de conservation de ce produit nous est inconnue.</div></br>
{% endif %}
<form id="create_product">
    Nommez votre produit :
    <input type="text" name="product_name" class="form-control" id="product_name" value="{{ subcategory }}"/></br>
    <button class="btn btn-indigo custom_btn" id="submit_product">
        Créer le produit
    </button>
</form>
<script>
    $("#submit_product").click(function (event) {
        event.preventDefault();
        var productName = $("#product_name").val();
        if (productName == "") {
            alert("Le produit doit avoir un nom !");
        return false;
            };
        $.ajax({
            type: 'GET',
            url: "{% url 'ajax_create_product' %}",
            data: {
                'checker': "{{ checker }}",
                'subcategory': "{{ subcategory }}",
                'product_name': productName,
            },
            success: function (data) {
                $("#product_creation").html("");
                $("#subcategory_list").html("");
                $("#industrial_list").hide();
                $('html, body').animate({
                    scrollTop: $("#product_type").offset().top
                }, 500);
            }
        });
    });
</script>